<div class="discussion-stat">
    {{questions}}
    <span class="discussion-light">
    {{{questions_string questions}}}
    </span>
</div>
<div class="discussion-stat">
    {{votes}}
    <span class="discussion-light">
        {{{votes_string votes}}}
    </span>
</div>
<div class="discussion-stat">
    {{answers}}
    <span class="discussion-light">
        {{{answers_string answers}}}
    </span>
</div>
<div class="discussion-stat">
    {{flags}}
    <span class="discussion-light">
        {{{flags_string flags}}} 
    </span>
</div>
<div class="discussion-stat">
    {{comments}}
    <span class="discussion-light">
        {{{comments_string comments}}}
    </span>
</div>
