<div class="discussion-stat">
    {{questions}}
    <span class="discussion-light">
        question{{plural questions}}
    </span>
</div>
<div class="discussion-stat">
    {{votes}}
    <span class="discussion-light">
        vote{{plural votes}} cast
    </span>
</div>
<div class="discussion-stat">
    {{answers}}
    <span class="discussion-light">
        answer{{plural answers}}
    </span>
</div>
<div class="discussion-stat">
    {{flags}}
    <span class="discussion-light">
        flag{{plural flags}} raised
    </span>
</div>
<div class="discussion-stat">
    {{comments}}
    <span class="discussion-light">
        comment{{plural comments}}
    </span>
</div>
