<ul class="tabrow">
    <li class="type discussion">
        <a href="{{profileRoot}}discussion" class="graph-link no-recolor discussion-link">
            Samenvatting
        </a>
    </li>
    <li class="type questions">
        <a href="{{profileRoot}}discussion/questions" class="graph-link no-recolor discussion-link">
            Vragen
        </a>
    </li>
    <li class="type answers">
        <a href="{{profileRoot}}discussion/answers" class="graph-link no-recolor discussion-link">
            Antwoorden
        </a>
    </li>
    <li class="type comments">
        <a href="{{profileRoot}}discussion/comments" class="graph-link no-recolor discussion-link">
            Opmerkingen
        </a>
    </li>
    {{#if profileData.isActivityAccessible}}
        <li class="type notifications">
            <a href="{{profileRoot}}discussion/notifications" class="graph-link no-recolor discussion-link">
                Meldingen
            </a>
        </li>
    {{/if}}
</ul>
