<div id="module-progress" class="clearfix">
  {{#exercises}}
  <div class="student-module-status exercise-progress-block exercise-color {{color}}"
       id="exercise-{{name}}">
       <span class="exercise-display-name ellipsis"><nobr>{{shortName}}</nobr></span>
    <div class="hover-data" style="display: none;">
      <div class="exercise-display-name ellipsis">{{displayName}}</div>
      <div class="exercise-status">Status: {{status}}</div>
      <div class="exercise-progress">Voortgang: {{progress}}</div>
      <div class="exercise-done">Oefeningen geprobeerd: {{totalDone}}</div>
    </div>
		<div style="clear:both"></div>
  </div>
  {{/exercises}}
</div>
