<div class="graph-date-picker">
    <ul class="tabrow">
        <li class="today">
            <a href="{{profileRoot}}vital-statistics/{{graph}}/today" class="no-recolor graph-link">Today</a>
        </li>
        <li class="yesterday">
            <a href="{{profileRoot}}vital-statistics/{{graph}}/yesterday" class="no-recolor graph-link">Yesterday</a>
        </li>
        <li class="selected last-week">
            <a href="{{profileRoot}}vital-statistics/{{graph}}/last-week" class="no-recolor graph-link">Last 7 Days</a>
        </li>
        <li class="last-month">
            <a href="{{profileRoot}}vital-statistics/{{graph}}/last-month" class="no-recolor graph-link">Last 30 Days</a>
        </li>
    </ul>
</div>
