<li class="activity-exercise clearfix{{#if earnedProficiency}} proficient{{/if}}">
    <div class="ach-text">
        <div class="clearfix">
            <span class="activity-image"></span>
            <div class="description">
                Answered <span class="problem-count">{{#unless mobileView}}<a href="{{ profileRoot }}vital-statistics/problems/{{exercise}}">{{/unless}}{{pluralize cProblems "problem"}}{{#unless mobileView}}</a>{{/unless}}</span>{{#if earnedProficiency}} to achieve proficiency{{/if}} in {{exerciseDisplayName}}
            </div>
        </div>
        <div class="activity-controls">
            <span class="time timeago" title="{{dt}}">{{dt}}</span>
        </div>
    </div>
</li>

