<div class="exercise-badge">
	<span class="pan-to simple-button" data-id="name" style="display:none;"><img src="/images/map-target.png" title="Show in map" alt="Show in map"></span>
    <h4>
        <div class="topic-exercise-badge">
            <img class="topic-exercise-image" src="{{icon_url}}">
        </div>

        <a href="{{url}}" title='Practice all problems in the  "{{standalone_title}}" topic.'>{{standalone_title}}</a>

        ({{count_proficient}}/{{total}} skills)
    </h4>
</div>
