<span class="mod_tools" data-is-author="{{showAuthorControls}}">
    Opties:
    <a href="javascript:void(0)" class="control mod_edit" data-key="{{key}}">Aanpassen</a>
    {{#if appearsAsDeleted}}
        | <a href="javascript:void(0)" class="control mod_undelete" data-key="{{key}}">Ongedaan maken</a>
    {{else}}
        | <a href="javascript:void(0)" class="control mod_delete" data-key="{{key}}">Verwijder</a>
    {{/if}}
    | <a href="javascript:void(0)" class="control mod_change" data-target-type="comment" data-key="{{key}}">Verander naar opmerking</a>
    {{#if flags.length}}
    | <a href="javascript:void(0)" class="control mod_clear_flags" data-key="{{key}}">leeg {{pluralize flags.length "flag"}}</a>
    {{/if}}
    <span class="message">{{message}}</span>
</span>
