{{#each children}}
<a class="m{{col}} vl vid-progress{{#if key_id}} v{{key_id}}{{/if}}"{{#if firstInCol}} style="margin-top:-{{../../colHeight}}px"{{/if}} href="{{url}}" data-tag="Homepage Library">{{title}}</a>
</li>
{{/each}}
