<div>
  <img src="/images/video-camera-icon-shadow.png" width="48" height="48" style="vertical-align: middle">
  <input type="text" name="title" class="node-title simple-input ui-corner-all blur-on-esc" value="{{ model.title }}">
  <a href="javascript:" data-id="save" class="save-button item-action simple-button disabled">Save</a>
</div>

{{#if oldValues.title }}<span class="old-value">Old value: <input type="text" disabled value="{{ oldValues.title }}" maxlength="32"/></span><br/>{{/if}}
    
<div>
  <a href="javascript:" data-id="remove_item" class="item-action left-align simple-button blue">Remove from topic</a>
</div>
<div style="clear: both" />

<div style="padding: 9px 23px;">
  <div>
    <table class="node-properties">

      <tr>
        <td colspan="2">Changes are saved to the <strong>editing version</strong> of the site when you click the Save button above.</td>
      </tr>

      <tr>
        <td style="font-weight:bold;">View</td>
        <td style="padding-bottom:9px;">
          <a href="{{ model.ka_url }}" target="_blank">Open {{ model.title }} in new tab</a>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">Slug</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="readable_id" value="{{ model.readable_id }}" maxlength="64"/><br/>
          {{#if oldValues.readable_id }}<span class="old-value">Old value: <input type="text" disabled value="{{ oldValues.readable_id }}" maxlength="64"/></span><br/>{{/if}}
          <em>Short identifier used as a key for the API and in URLs linking to this video</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">YouTube ID</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="youtube_id" value="{{ model.youtube_id }}" maxlength="11" class="short" /><br/>
          {{#if oldValues.youtube_id }}<span class="old-value">Old value: <input type="text" disabled value="{{ oldValues.youtube_id }}" maxlength="11" class="short"/></span><br/>{{/if}}
          <em>ID of this video on YouTube</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">Description</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="description" value="{{ model.description }}" maxlength="256"/><br/>
          {{#if oldValues.description }}<span class="old-value">Old value: <input type="text" disabled value="{{ oldValues.description }}" maxlength="256"/></span><br/>{{/if}}
          <em>Description text visible in topic listings</em>
        </td>
      </tr>

      <tr>
        <td style="font-weight:bold;">Keywords</td>
        <td style="padding-bottom:9px;">
          <input type="text" name="keywords" value="{{ model.keywords }}" maxlength="256"/><br/>
          {{#if oldValues.keywords }}<span class="old-value">Old value: <input type="text" disabled value="{{ oldValues.keywords }}" maxlength="256"/></span><br/>{{/if}}
          <em>Terms to include when indexing this video for searching</em>
        </td>
      </tr>

    </table>
  </div>
</div>
