<li class="objective" style="width: {{objectiveWidth}}%">
    <a data-id="{{objectiveID}}" class="objective {{type}} simple-button seethrough exercise-color {{status}}"
        href="{{url}}"
        data-progress="{{progress}}">
            <span class="objective-description">{{description}}</span>
            {{#unless complete}}
            <span class="objective-progress-meter" style="height: {{iconFillHeight}}px"></span>
            {{/unless}}
    </a>
    <div class="hover-data" style="display: none">
        <div>
          {{#if isVideo}}Bekijk een video <b>{{description}}</b>{{/if}}
          {{#if isAnyVideo}}Bekijk een video naar keuze{{/if}}
          {{#if isExercise}}Voltooi een oefening <b>{{description}}</b>{{/if}}
          {{#if isAnyExercise}}Voltooi een oefening naar keuze{{/if}}
        </div>
        <div class="goal-tooltip-status">
          <span>Status:</span>
          <span>
            {{#if complete}}
              Voltooid
              {{#if isAnyVideo}} (<b>{{description}}</b>){{/if}}
              {{#if isAnyExercise}} (<b>{{description}}</b>){{/if}}
            {{else}}
              {{#if progress}} Aan de gang ({{progressStr}}%) {{else}} Nog niet begonnen {{/if}}
            {{/if}}
            {{#if struggling}} <span class="goal-tooltip-struggling">(Moeite)<span> {{/if}}
          </span>
        </div>
    </div>
</li>
