<ul class="scratchpad-list">
    {{#each scratchpads}}
    <li>
        <a href="{{showUrl}}">
            <div class="scratchpad-thumbnail">
                <img src="{{imageUrl}}">
                {{#if displayDifficulty}}
                <span class="scratchpad-difficulty-{{difficulty}}">
                    {{difficultyText}}
                </span>
                {{/if}}
            </div>
            <h4>
                {{title}}
            </h4>
        </a>
    </li>
    {{/each}}
</ul>
